.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: #99a799;
  z-index: 1;
}
.Navbar h2 {
  color: white;
}
